<div class = "row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 align="center" class="section-title">User's Itineraries</h2>
    </div>
    <div class="panel-body">
      <div class="center">
      <% @users.each do |user| %>
        <div class="col-sm-6 col-md-4">
          <div class="panel panel-primary">
            
              <h3><%= link_to user.name, user_path(user) %></h3>
            
            <div class="thumbnail">
            <%= link_to (image_tag user.avatar.url(:medium)), user_path(user) %>
            </div>  
            <div class="list-group">
              <% user.itineraries.each do |i| %>
                <%=link_to i.title, itinerary_path(i),class:"list-group-item" %>           
              <% end %><br>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>

