<section class="carousel-section">
    <div id="carousel-example-generic" class="carousel carousel-razon slide" data-ride="carousel" data-interval="5000">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>
            <li data-target="#carousel-example-generic" data-slide-to="1" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-7">
                            <div class="carousel-caption">
                                <div class="carousel-text">
                                   <h1 class="animated fadeInDownBig animation-delay-7 carousel-title">Photo sharing</h1>
                                   <h2 class="animated fadeInDownBig animation-delay-5  crousel-subtitle">Show off that beautiful beach scene</h2>
                                   <ul class="list-unstyled carousel-list">
                                       <li class="animated bounceInLeft animation-delay-11"><i class="fa fa-check"></i>Share photos of the best locations</li>
                                       <li class="animated bounceInLeft animation-delay-13"><i class="fa fa-check"></i>See where your friends have traveled</li>
                                       <li class="animated bounceInLeft animation-delay-15"><i class="fa fa-check"></i>Create photo albums for each vacation</li>
                                   </ul>
                                   
                               </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-5 hidden-xs carousel-img-wrap">
                            <div class="carousel-img">
                                <img src="assets/beachotel.jpg" class="img-responsive animated bounceInUp animation-delay-3" alt="Image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item active">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-8">
                            <div class="carousel-caption">
                                <div class="carousel-text">
                                   <h1 class="animated fadeInDownBig animation-delay-7 carousel-title">Welcome to OurTinerary</h1>
                                   <h2 class="animated fadeInDownBig animation-delay-5  crousel-subtitle">The new way to plan a vacation</h2>
                                   <ul class="list-unstyled carousel-list">
                                       <li class="animated bounceInLeft animation-delay-11"><i class="fa fa-check"></i>Build a custom itinerary</li>
                                       <li class="animated bounceInLeft animation-delay-13"><i class="fa fa-check"></i>Share with friends</li>
                                       <li class="animated bounceInLeft animation-delay-15"><i class="fa fa-check"></i>Organize travel plans</li>
                                   </ul>
                                   
                               </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-4 hidden-xs carousel-img-wrap">
                            <div class="carousel-img">
                                <img src="assets/hut.jpg" class="img-responsive animated bounceInUp animation-delay-3" alt="Image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-7 col-sm-9">
                            <div class="carousel-caption">
                                <div class="carousel-text">
                                   <h1 class="animated fadeInDownBig animation-delay-7 carousel-title">Travel well</h1>
                                   <h2 class="animated fadeInDownBig animation-delay-5  crousel-subtitle">Get tips from your friends on the best attractions</h2>
                                   <ul class="list-unstyled carousel-list">
                                       <li class="animated bounceInLeft animation-delay-11"><i class="fa fa-check"></i>Review each attraction</li>
                                       <li class="animated bounceInLeft animation-delay-13"><i class="fa fa-check"></i>Explore new places</li>
                                       <li class="animated bounceInLeft animation-delay-15"><i class="fa fa-check"></i>Add items to a wishlist for your next vacation</li>
                                   </ul>
                                   
                               </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-5 col-sm-3 hidden-xs carousel-img-wrap">
                            <div class="carousel-img">
                                <img src="assets/boat.jpg" class="img-responsive animated bounceInUp animation-delay-3" alt="Image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</section>
<br><br><center>
 <p><%= link_to "View Itineraries", itineraries_path, class: "btn btn-ar btn-primary" %>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  <%= create_itinerary_conditional %></p>
</center>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>