<h3><%= @restaurant.name %></h3>
Location: <%= @restaurant.address %><br>

<% @restaurant.meals.each do |meal| %>
  <% meal.photos.each do |photo| %>
    <%= image_tag photo.image.url(:medium) %>
  <% end %>
<% end %>
